<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Imc</title>    
    <link rel="stylesheet" href="/css/style.css">    
</head>
    <body class="bodY">
        <h1>Projetos criados para fins academicos</h1>   
        <div class="imc">
                <h2>1° Projeto Imc</h2>
                <p><b>°Calculadora de Imc, com duas entradas e um botão calcular, usando js puro para fazer seu calculos e eventos com condições.</b></p>
                <img class="imgImc" src="https://comoinvestir.thecap.com.br/medias/2022/12/imc-meal3-conclui-venda-de-ativos-no-panama-por-r-40-milhoes.webp" alt="">
            </div>  

            <div class="qrcode">
                <h3>2° Projeto QrCode</h3>
                <p><b>°usando uma concatenação simples pelo js, transformando qualquer link em Qr-Code</b></p>
                <img src="https://acesso.gov.br/faq/_images/imagem_qrcode_exemplo.jpg" alt="">
            </div>   

            <div class="conversor">
                <h4>3° Projeto Conversor de Dolar</h4>
                <p><b>°usando uma api= awesomeapi, para receber as atualizações de dolar e pelo js fazer o calculo de conversão</b></p>
                <img class="imgCon" src="https://www.remessaonline.com.br/blog/wp-content/uploads/2021/07/Real-vs-dolar-2-1170x596.jpg.optimal.jpg" alt="">
            </div>
            <footer>
                <p> ©️ Jonath Mendes.</p>                
            </footer>
    </body>
</html>