<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qr Code</title>
    <link rel="stylesheet" href="/css/styleqr.css">
</head>
  <body>
      <script>
        const handleGeQr = () => {
          const link = 'https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl=';
          const valorqr = document.getElementById('valorqr').value;
          const img = link + valorqr;
          document.getElementById('qr-code').src = img;
        }
      </script>
      
      <section class="sectionQr">
        <h1>Crie um Qrcode.</h1>       
    <hr />
        <div>
          <label class='labelQr' for='valorqr'>Digite aqui: </label>
          <input class='input1' placeholder='Link ou texto' type='text' id='valorqr'/>
          <button class="buttonQr" onclick='handleGeQr()'>Gerar QrCode</button>
          <div>
            <img id='qr-code'/>
          </div>
        </div>
      </section>
  </body>
</html>