.bodY{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.imc{
    margin-top: 20px;
    margin-left: 160px;    
}

.imgImc{
    height: 200px;
    width: 400px;
}

.qrcode{
    margin-top: 40px;
}

.conversor{
    margin-top: 40px;
}

.imgCon{
    width: 400px;
    height: 200px;
}

footer{
    background-color: rgb(32, 31, 31);
    width: 100%;
    color: azure;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}